* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-bgc: #ffb900;
}
html {
  font-size: 62.5%; /* bài 56 */
}
/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  /* chọn cỡ chữ chiếm nhiều nhất trong websize */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/*==========================================common======================================*/
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.main-content {
  /* display: flex; */
  width: 1170px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  max-width: calc(100% - 48px);
  /* margin-top: 20px; */
  /* background-color: #27adad; */
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
/* dòng này giúp xuống hàng, giữ đúng chiều rộng */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* dòng này giúp xuống hàng sau 2 lines, giữ đúng chiều rộng */
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* dòng này giúp nó phải cắt, xún hàng những từ k có dấu cách, phải xún hàng */
.break-all {
  word-break: break-all;
}
/*===============header===============*/
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body-header {
  display: flex;
  /* height: 100px; */
  align-items: center;
  /*Tại vì nó có độ cao theo phần tử cha, theo box chứa, nên trường hợp này gần như cross axis không đổi*/
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  position: relative;
  /* background-color: #5fc251; */
  /* border: 1px solid black */
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  font-weight: 600;
  /* text-shadow: 1px 0 0 currentColor; */
}
.nav li.active a::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  display: block; /* nếu là mặc định thẻ inline k set đc w và h*/
  position: absolute; /*tại sao nó lại được căn góc bên dưới bên trái mà không phải theo lý thuyết?*/
  left: 21px;
  /* tại sao là bottom mà k phải top ta??*/
  bottom: 6px;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* ===============hero=============== */
.hero {
  padding-top: 57px;
  padding-bottom: 64px;
  background-color: #fffcf4;
}
/* ==============body1=============== */
.body1-content {
  display: flex;
}
/* ==================================================left-body1================================================== */
.left-body1 {
  display: flex;
  width: 48.7%;
  position: relative;
}
.body1-img {
  width: 470px;
  height: 685px;
  object-fit: cover; /*nhớ tìm hiểu nhé*/
  border-radius: 20px;
}
.body1-icon-box {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  padding: 24px;
  /* height: 244px; */
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.body1-icon-box .item {
  display: flex;
  align-items: center;
}
.body1-icon-box .item + .item {
  margin-top: 22px;
}
.body1-icon-box .img-of-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #5f2525;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #fff9e8;
}
.body1-icon-box .inbox2-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.body1-icon-box .img-of-item.icon2 {
  background-color: #fcefff;
}
.body1-icon-box .img-of-item.icon3 {
  background-color: #ebeaff;
}
.body1-icon-box .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* ==================================================right-body1================================================= */
.right-body1 {
  width: 51.3%;
  padding-top: 46px;
  padding-left: 130px;
}
.right-body1 .title-h1 {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
  padding-bottom: 28px;
}
.right-body1 .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  padding-bottom: 38px;
}
.right-body1 .cta-group {
  display: flex;
  padding-bottom: 48px;
  align-items: center;
}
.right-body1 .cta-group a {
  min-width: 18rem;
  height: 64px;
  flex-shrink: 0;
  /* border-radius: 32px; */
  background: var(--primary-bgc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-body1 .play-vid {
  display: flex;
  border: none;
  margin-left: 28px;
  /* justify-content: center; */
  align-items: center;
  background: transparent;
  cursor: pointer;
}
.right-body1 .play-vid .icon {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  align-items: center;
  justify-content: center;
}

.right-body1 .play-vid span {
  margin-left: 14px;
  /* min-width: 148px;   */
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.right-body1 .engage {
  margin-bottom: 8px;
  padding-bottom: 0;
}
.right-body1 strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-right: 15px;
}
.right-body1 strong:nth-child(2) {
  margin-left: 28px;
}
/* -------------------------------------------POPULAR------------------------------------------ */
.popular-body2 {
  padding: 65px 0;
  margin: 135px 0;
}
/* ----------------------------------------Top Popular---------------------------------------- */
.body2-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-body2-top p.desc {
  padding-top: 1.6rem; /*khác thầy để xem thử*/
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px; /* 166.667% */
}
.right-top-icons {
  display: flex;
  width: 98px;
  height: 40px;
  gap: 18px;
}
.right-top-icons .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-bgc);
  color: var(--primary-bgc);
}
.right-top-icons .control-btn:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
}
/* ----------------------------------------Bottom Popular---------------------------------------- */
.popular-body2 .course-list {
  display: flex;
  gap: 30px;
  /* nếu đặt margin là 55 thì nó cách 4 cạnh cha là 55px và làm cho khối course-list nhỏ lại */
  margin-top: 55px;
}
.popular-body2 .course-items {
  border-radius: 12px;
  background: #fff;
  border: 1px solid grey;
  flex: 1;
  justify-content: space-between;
}
/* Khoảng trống này dùng để đặt .course-items:hover */
.popular-body2 .course-items:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.popular-body2 .course-list .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  height: 278px;
}
.popular-body2 .course-items .infor {
  /* width: 326px; */
  /* height: 150px; */
  /* không đặt độ lớn để khi nó có thêm phần tử thêm chữ nó có thể dãn ra */
  padding: 16px 22px 22px;
  /* flex-shrink: 0; */
}
.popular-body2 .course-items .rating,
.popular-body2 .course-items .foot,
.popular-body2 .course-items .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* tạo thẻ a để sau này khách hàng có vùng tương tác điều hướng tới khóa học một cách rộng hơn */
.popular-body2 .course-items .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular-body2 .course-items .rating .value {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 28px; /* 175% */
  margin-left: 6px;
}
.popular-body2 .course-items .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 26px; /* 185.714% */
  margin-top: 6px;
}
.popular-body2 .course-items .foot {
  margin-top: 12px;
}
.popular-body2 .course-items .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.popular-body2 .course-items .btn-book {
  border: none;
}
.popular-body2 .course-items .btn-book:hover {
  background: var(--primary-bgc);
}
/* ---------------------------------------------FEEDBACKS----------------------------------- */
.comment {
  margin-top: 135px;
  background-color: #2e2100;
  padding: 96px 0;
  /* chỉ cần dòng này thôi là tạo được chiều cao của khối mà không cần giới hạn độ cao box rồi */
}
.comment .feedback-list {
  display: flex;
  overflow: hidden;
}
.comment .content {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
/* ------------------------------------------Left content------------------------------------ */

.comment .left-content img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.comment .left-content .name-commentor {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin-top: 18px;
}
.comment .left-content p {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 26px; /* 185.714% */
  margin-top: 4px;
}
.comment .left-content .circles {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}
.comment .left-content .comment-buttons {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}
/* .comment .left-content .comment-buttons:hover {
  background-color: var(--primary-bgc);
  transform: scale(1.5);
} */
.comment .left-content .circles .active {
  background-color: var(--primary-bgc);
  cursor: default;
}
/* ------------------------------------------Right content------------------------------------ */
.comment .right-content {
  /* position: relative; */
  width: 66%;
  margin-left: auto;
}
.comment .right-content .p-right-comment {
  /* margin-top: 28px; */
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 40px; /* 153.846% */
  max-width: 740px;
}
/* ------------------------------------------promo-platform----------------------------------- */
.promo-platContainer {
  display: flex;
  align-items: center;
  margin-top: 135px;
  padding: 65px 0px;
  justify-content: space-between;
}
.promo-platContainer .right-platContainer {
  width: 41%;
}
.plat-imgs {
  display: flex;
  gap: 30px;
}
.promo-platContainer img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.plat-img1 {
  margin-top: 34px;
}
.right-platContainer p {
  color: #5f5b53;
  margin-bottom: 16px;
  line-height: 1.75;
}
.right-platContainer .btn {
  margin-top: 32px;
  width: 137px;
  border: none;
  background-color: var(--primary-bgc);
}
